.head{
    top: 5px;
    left: 5px;
    right: 50px;
    height: 200px;
    
}
.leftmenu{
    top:114px;
    left:5px;
    width:2750px;
    bottom:39px;
    text-align: center;
    font-style: italic
}


.main{
    top:1114px;
    left:1114px;
    right: 1114px;
    width:1000;
    text-align: center;
}
.rightmenu{
    top: 114px;
    right:5px;
    width: 1500px;
    bottom:39px;
    text-align: center;
    color:white;

}
.footer{
    bottom:5px;
    left:5px;
    right:5px;
    height:25px;
}



body{
    font-family: sans-serif;
    font-size: 20px;
    color:bisque;
    background-color: black
}
.font{
    font-family:cursive;
    font-style: italic;
}
a{
    color: gold;
}
.bold{
    font-weight: bolder;
}
ul{
    font-family:fantasy;
}


